:root {
    --main-light: #f0f0f0;
    --main-color: #45567d;
    --main-ash: #303841;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
  
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: chocolate;
  }
  
  @media (max-width: 75em) {
    html {
      font-size: 60%;
      background-color: chocolate;
    }
  }
  
  @media (max-width: 61.25em) {
    html {
      font-size: 58%;
      background-color: chocolate;
    }
  }
  
  @media (max-width: 28.75em) {
    html {
      font-size: 55%;
    }
  }
  
  body {
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--main-light);
  }
  
  h1,
  h2 {
    font-family: lobster, lobster-two, "Raleway", sans-serif;
    font-weight: 700;
    text-align: center;
  }
  
  h1 {
    font-size: 6rem;
  }
  
  h2 {
    font-size: 3rem;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--main-light);
  }
  
  img {
    display: block;
    width: 100%;
  }
  
  /* nav */
  
  .nav {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--main-color);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    display: block;
    font-size: 2.2rem;
    padding: 2rem;
    font-family: Pacifico;
  }
  
  .nav-list a:hover {
    /* use background: white or any color to highlight each nav-list buttons*/
    border-radius: 10px;
    margin-bottom: 5px;
    transform: translateX(22px);
    color: chocolate;
  }
  
  /* Welcome section */
  
  .welcome-section {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #000;
    background-image: linear-gradient(40deg, #4a3d40 0%, #181719 100%);
    border-radius: 30% 10% 70px 0px;
  }
  
  .welcome-section > p {
    font-size: 2rem;
    font-weight: 200;
    color: white;
    justify-content: start;
  }
  
  /* Projects section */
  
  .projects-section {
    text-align: center;
    padding: 10rem 2rem;
    background: var(--main-ash);
  }
  
  .projects-section-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem;
  }
  
  @media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 4rem;
    }
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 0.1rem;
  }
  
  @media (max-width: 30.625em) {
    .projects-section {
      padding: 6rem 1rem;
    }
  
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .project {
    background: chocolate;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2px;
  }
  
  .code {
    color: var(--main-ash);
    transition: color 0.3s ease-out;
  }
  
  .project:hover {
    color: #ff7f50;
    transform: translateX(22px);
  }
  
  .project-image {
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
  }
  
  .project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
  }
  
  .btn {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 2px;
  }
  
  .btn-see-all {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    background: var(--main-color);
    transition: background 0.3s ease-out;
  }
  
  .btn-see-all:hover {
    background: blue;
  }
  
  .btn-see-all:hover > i {
    transform: translateX(2px);
  }
  
  .btn-see-all > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
  }
  
  /* Contact section */
  
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    padding: 0 2rem;
    background: var(--main-ash);
  }
  
  .contact-section-header > h2 {
    font-size: 6rem;
    color: var(--main-color);
  }
  
  @media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
  }
  
  .contact-section-header > p {
    font-style: italic;
  }
  
  .contact-links {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 980px;
    margin-top: 4rem;
    flex-wrap: wrap;
    background-color: gray;
    border-radius: 10px;
  }
  
  .contact-details {
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px #1f1f1f;
    transition: transform 0.3s ease-out;
    color: ash;
  }
  
  .contact-details:hover {
    transform: translateY(8px);
  }
  
  /* Footer */
  
  footer {
    font-weight: 300;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    background: var(--main-ash);
    border-top: 10px solid var(--main-color);
    font-size: 16px;
  }
  #rec{
    color: brown;
  }
  
  footer > p {
    margin: 1rem;
  }
  footer #rec:hover {
    color: chocolate;
  }
  footer i {
    vertical-align: middle;
  }
  footer > div {
    margin-right: 2%;
    border-left: 2px solid var(--main-color);
    padding-left: 20%;
  }
  @media (max-width: 28.75em) {
    footer {
      flex-direction: column;
      text-align: center;
      font-size: 11.5px;
    }
    footer > div {
      border-left: 2px solid var(--main-color);
      padding-left: 20%;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }
  
